$purple: #38316b;
$bg: #221b46;
$box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.15);

body {
  background: $bg;
  font-size: 16px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  z-index: 100;
  color: white;

  @media screen and (max-width: 768px) {
    width: 80vw;
  }
}
form {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 100;

  @media screen and (max-width: 768px) {
    top: 150px;
  }
}
input[type="text"] {
  background-color: white;
  width: 70vw;
  max-width: 400px;
  -webkit-appearance: none;
  border: 0;
  @supports (border-radius: 50px 0 0 50px) {
    border-radius: 50px 0 0 50px;
  }
  padding: 1em 2em;
  font-size: 1.15rem;
  @supports (transition: 0.3s ease-in-out) and (box-shadow: $box-shadow) {
    transition: 0.3s ease-in-out;
    box-shadow: $box-shadow;
  }
  color: #3a3a3a;

  @media screen and (max-width: 768px) {
    width: 80vw;
    border-radius: 0;
    max-width: 100%;
  }
}

input[type="submit"] {
  width: 15vw;
  max-width: 100px;
  -webkit-appearance: none;
  background-color: white;
  border: 0;
  @supports (border-radius: 0 50px 50px 0) {
    border-radius: 0 50px 50px 0;
  }
  padding: 1em 0;
  font-size: 1.15rem;
  color: #3a3a3a;
  @supports (transition: 0.3s ease-in-out) and (box-shadow: $box-shadow) {
    transition: 0.3s ease-in-out;
    box-shadow: $box-shadow;
  }
  margin-left: -25px;

  @media screen and (max-width: 768px) {
    width: 80vw;
    border-radius: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

#map-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.duration {
  font-size: 2em;
}

#loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 125px;
  transform: translateX(-50%);
  z-index: 80;

  color: black;
  background-color: white;
  background-color: white;
  width: 85vw;
  max-width: 410px;
  border: 0;
  @supports (border-radius: 0 0 35px 35px) {
    border-radius: 0 0 35px 35px;
  }
  padding: 3em 2em 1.5em;
  font-size: 1.15rem;
  @supports (animation-name: fadeInTop) {
    animation: fadeInTop 0.3s linear forwards;
  }

  @media screen and (max-width: 768px) {
    width: 61vw;
    border-radius: 0;
    padding: 1.5em 2em;
    max-width: 100%;
    top: 264px;
    background-color: #3a3a3a;
    color: white;
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    top: 110px;
  }
  100% {
    top: 125px;
  }
}

@keyframes fadeInTop {
  0% {
    top: 110px;
  }
  100% {
    top: 125px;
  }
}

@media screen and (max-width: 768px) {
  @-webkit-keyframes fadeInTop {
    0% {
      top: 200px;
    }
    100% {
      top: 264px;
    }
  }

  @keyframes fadeInTop {
    0% {
      top: 200px;
    }
    100% {
      top: 264px;
    }
  }
}

#suggestions {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 80;

  color: black;
  background-color: white;
  background-color: white;
  width: 85vw;
  max-width: 410px;
  appearance: none;
  border: 0;
  @supports (border-radius: 0 0 35px 35px) {
    border-radius: 0 0 35px 35px;
  }
  padding: 3em 2em 1.5em;
  font-size: 1.15rem;
  @supports (animation-name: fadeInTop) {
    animation: fadeInTop 0.3s linear forwards;
  }

  li {
    background-color: white;
    padding: 1.5em 0;
    font-size: 1.25rem;
    list-style-type: none;
    border-bottom: 1px solid black;
  }

  a {
    color: black;
  }

  @media screen and (max-width: 768px) {
    width: 61vw;
    border-radius: 0;
    padding: 1.5em 2em;
    max-width: 100%;
    top: 264px;
    background-color: #3a3a3a;
    color: white;
  }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none;
}
